.loading-container {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  z-index: 9999;
  background-color: rgb(255,255,255); /* Fallback color */
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #FA3C5A; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: block !important;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}